# UI + API
streamlit==1.36.0
fastapi==0.112.2
uvicorn==0.30.6
requests==2.32.3

# RAG core
transformers==4.43.3
accelerate==0.33.0
torch==2.2.2
fastembed==0.3.5
flashrank==0.2.7
faiss-cpu==1.8.0.post1
spacy==3.7.4
python-dateutil==2.9.0.post0
sentencepiece==0.2.0
tokenizers==0.19.1
protobuf==3.20.3

# Graph + utils
networkx==3.3
neo4j==5.22.0
psutil==6.0.0
pydantic==2.8.2
tqdm==4.66.4
